<?php echo $this->doctype(); ?>

<html lang="fr">
<head>
    <meta charset="utf-8">
    
    <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no') ?>
    
    <?php echo $this->headTitle($this->translate('Sign In')) ?>
    
    
    <link rel="stylesheet" type="text/css" media="screen" href="<?php $this->static('css') ?>bootstrap.min.css">	
    
    <link rel="stylesheet" type="text/css" media="screen" href="<?php $this->static('css') ?>font-awesome.min.css">
    
    <link rel="stylesheet" type="text/css" media="screen" href="<?php $this->static('css') ?>smartadmin-production.css">
    
    <link rel="shortcut icon" href="<?php $this->static('img') ?>favicon/favicon.ico" type="image/x-icon">
    
    <link rel="icon" href="<?php $this->static('img') ?>favicon/favicon.ico" type="image/x-icon">
    
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
</head>
	
	<body id="login" class="animated fadeInDown">
		<!-- possible classes: minified, no-right-panel, fixed-ribbon, , fixed-width-->
		<header id="header" >
			<!--<span id="logo"></span>-->

			<div id="logo-group">
				<span id="logo"> <img src="<?php $this->static('img') ?>logo.png" alt="SmartAdmin"> </span>

				<!-- END AJAX-DROPDOWN -->
			</div>

			<span id="login-header-space"> 
			     <span class="hidden-mobile"><?= $this->translate('Need an account ?') ?></span> 
			     <a href="register.html" class="btn btn-danger"><?=  $this->translate('Creat account') ?></a> 
		    </span>

		</header>

		<div id="main" >
            
			<!-- MAIN CONTENT -->
			<div id="content" class="container">
			     <?php echo $this->url('builder', array('action' => 'foo', 'controller' => 'index'))?>

		
			      <?php echo $this->content; ?>
            <!--END MAIN CONTENT -->
			</div>

		</div>
		
		

		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
		<script src="<?php $this->static('js') ?>plugin/pace/pace.min.js"></script>

	    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script> if (!window.jQuery) { document.write('<script src="js/libs/jquery-2.0.2.min.js"><\/script>');} </script>

	    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script> if (!window.jQuery.ui) { document.write('<script src="js/libs/jquery-ui-1.10.3.min.js"><\/script>');} </script>

		<!-- JS TOUCH : include this plugin for mobile drag / drop touch events 		
		<script src="<?php $this->static('js') ?>plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

		<!-- BOOTSTRAP JS -->		
		<script src="<?php $this->static('js') ?>bootstrap/bootstrap.min.js"></script>

		<!-- CUSTOM NOTIFICATION -->
		<script src="<?php $this->static('js') ?>notification/SmartNotification.min.js"></script>

		<!-- JARVIS WIDGETS -->
		<script src="<?php $this->static('js') ?>smartwidgets/jarvis.widget.min.js"></script>
		
		<!-- EASY PIE CHARTS -->
		<script src="<?php $this->static('js') ?>plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
		
		<!-- SPARKLINES -->
		<script src="<?php $this->static('js') ?>plugin/sparkline/jquery.sparkline.min.js"></script>
		
		<!-- JQUERY VALIDATE -->
		<script src="<?php $this->static('js') ?>plugin/jquery-validate/jquery.validate.min.js"></script>
		
		<!-- JQUERY MASKED INPUT -->
		<script src="<?php $this->static('js') ?>plugin/masked-input/jquery.maskedinput.min.js"></script>
		
		<!-- JQUERY SELECT2 INPUT -->
		<script src="<?php $this->static('js') ?>plugin/select2/select2.min.js"></script>

		<!-- JQUERY UI + Bootstrap Slider -->
		<script src="<?php $this->static('js') ?>plugin/bootstrap-slider/bootstrap-slider.min.js"></script>
		
		<!-- browser msie issue fix -->
		<script src="<?php $this->static('js') ?>plugin/msie-fix/jquery.mb.browser.min.js"></script>
		
		<!-- FastClick: For mobile devices -->
		<script src="<?php $this->static('js') ?>plugin/fastclick/fastclick.js"></script>
		
		<!--[if IE 7]>
			
			<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
			
		<![endif]-->

		<!-- MAIN APP JS FILE -->
		<script src="<?php $this->static('js') ?>app.js"></script>

		<script type="text/javascript">
			runAllForms();

			$(function() {
				// Validation
				$("#login-form").validate({
					// Rules for form validation
					rules : {
						email : {
							required : true,
							email : true
						},
						password : {
							required : true,
							minlength : 3,
							maxlength : 20
						}
					},

					// Messages for form validation
					messages : {
						email : {
							required : '<?php echo  _('Please enter your email address')?>',
							email : '<?php echo _('Please enter a VALID email address')?>'
						},
						password : {
							required : '<?php echo _('Please enter your password')  ?>'
						}
					},

					errorPlacement : function(error, element) {
						error.insertAfter(element.parent());
					}
				});
			});
		</script>

	</body>
</html>