<?php

// Form layout
$form->setAttributes(array(
    'id' => 'login-form',
    'class' => 'smart-form client-form',
    'action' => $this->url('signin'),
    'method' => 'post'
));

$form->prepare();

$formLabel = $this->plugin('formLabel');

?>
<div class="row">


<?php if(count($this->flashMessages)) : ?>
<ul>
    <?php foreach ($this->flashMessages as $msg) : ?>
    <li><?php echo $msg; ?></li>
    <?php endforeach; ?>
</ul>
<?php endif; ?>
	<div class="col-md-3 col-lg-3"></div>

	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<div class="well no-padding">
		 
			<?php echo  $this->form()->openTag($form); ?>
				 <header>  <?=  $this->translate('Sign In') ?></header>
			<fieldset>

				<section>
    			     <?php
            $name = $form->get('email');
            
            echo $formLabel->openTag(array(
                'class' => 'label'
            )) . $this->translate($name->getOption('label'));
            echo '<label class="input"> <i class="icon-append  fa fa-user"></i>';
            echo $this->formInput($name);
            echo $this->formElementErrors($name);
            echo '<b class="tooltip tooltip-top-right"> <i class="fa fa-user txt-color-teal"></i> ';
            echo $this->translate($name->getOption('tooltip')) . '</b>';
            
            echo $formLabel->closeTag();
            echo $formLabel->closeTag();
            ?>
			
			     </section>

				<section>
	            <?php
            $name = $form->get('password');
            
            echo $formLabel->openTag(array(
                'class' => 'label'
            )) . $this->translate($name->getOption('label'));
            echo '<label class="input"> <i class="icon-append pull-left fa fa-lock"></i>';
            echo $this->formInput($name);
            echo $this->formElementErrors($name);
            echo '<b class="tooltip tooltip-top-right"> <i class="fa fa-lock txt-color-teal"></i> ';
            echo $this->translate($name->getOption('tooltip')) . '</b>';
            echo $formLabel->closeTag();
            echo $formLabel->closeTag();
            ?>
    			    <div class="note">
						<a href="<?php echo $this->url('resetpassword')?>"><?=  $this->translate('Forgot password ?') ?></a>
					</div>

				</section>

				<section>
					<label class="checkbox"> <input type="checkbox" name="remember"
						checked> <i></i><?=  $this->translate('Stay signed in')?>
					</label>
				</section>
			</fieldset>

			<footer>
		        <?php echo $this->formElement($form->get('security'))?>
				<button type="submit" class="btn btn-primary"><?=  $this->translate('Sign In') ?></button>
			</footer>
			<?php echo $this->form()->closeTag();?>

		</div>



	</div>

	<div class="col-md-3 col-lg-3"></div>
</div>

